
/* Importing URL */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap');

/* Generic  f6f5f1,  fae0df, 898b8a, 16a596 */

body {
  background-color: #f6f5f1;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

h1 {
  color: #16a596;
  font-size: large;
  text-align: center;
  text-transform: capitalize;
}

h2 {
  color : #898b8a;
  font-size: medium;
  text-align: center;
  padding-bottom: 20px;
}

h3, h4 {
  color: #16a596;
  font-size: medium;
  text-align: center;
  padding-bottom: 20px;
}

a {
  color: #0C61FE;
  text-decoration: none;
  font-weight: 700;
}

a:hover {
  text-decoration: underline;
  color: #1B9783;
}

/* picture & specific images */

.profil {
  width: 200px;
  border-radius: 100px;
  margin-left: auto;
  margin-right: auto;
}

#gif {
  object-fit: cover;
  height: 200px;
}
#icon {
  width: 30px;
  height: 30px;
}

/* liste  & button */
.list-inline {
  text-decoration: none;
  text-align: center;
}

.list-inline li {
  display: inline-block;
  padding: 20px;
  font-size: large;
}

.btn {
  width: 40%;
  margin: 10px auto;
}

/* Generic Div */
.container {
  width: 700px;
}

.card {
  border: 2px solid #f6f5f1;
  border-radius: 5px;
  background: white;
  margin: 30px 0;
  padding: 15px 20px;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  text-align: center;
}

/* Responsive */

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
